body{
	background: #14312C;
}
#logo{
	margin-top: 50px;
}
.search{
	margin-top: 150px;
}
*{
	color:white;
}
#eachunit{
	/*background: grey;*/
	/*margin: 5px;*/

}
.pricebtn{
	/*margin:10px!important;*/
}
/*.stitle{
	text-align:center;
}*/
.rborder
{
	border-right: 2px;
}
.rspace
{
	padding-bottom: 10px;
}
