<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}</title>
    <!-- <meta name="viewport" content="width=device-width"> -->

    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower_components/foundation-sites/dist/foundation.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/bower_components/PACE/pace.min.js"></script>
    <script id="cid0020000119314549461" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"buysastachat","arch":"js","styles":{"a":"2199e8","b":100,"c":"000000","d":"000000","k":"2199e8","l":"2199e8","m":"2199e8","p":"10","q":"2199e8","r":100,"pos":"br","cv":1,"cvbg":"2199e8","cvw":75,"cvh":30,"surl":0,"cnrs":"0.35"}}</script>
    
    {% block header_stylesheets %}
    <link rel="stylesheet" href="/static/bower_components/foundation-sites/dist/foundation.css">
    <link rel="stylesheet" href="/static/bower_components/foundation-sites/dist/foundation-flex.css">
    <!-- <link rel="stylesheet" href="/static/bower_components/foundation-sites/dist/foundation-rtl.css"> -->
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/bower_components/PACE/themes/green/pace-theme-flat-top.css" />
    {% endblock header_stylesheets %}
  </head>

  <body>
    {% block template %}{% endblock template %}
    {% block body_scripts_templates %}{% endblock body_scripts_templates%}
    {% block footer_scripts %}{% endblock footer_scripts %}
  </body>
</html>
