<!DOCTYPE html>

<html>
    {% include 'app/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Api Example</h1>
        	<strong>{{ boldmessage }}</strong><br />
        {% else %}
        	<h1> Please register/login! </h1>
        {% endif %}
    	<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				Vestibulum sed metus sed tortor rutrum pharetra vel non erat. Aliquam vitae lectus sapien. Fusce volutpat pharetra enim, at mattis mauris porttitor pharetra. Morbi et dolor dapibus, consequat sem non, mollis risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus auctor eros id elit consectetur, ut sollicitudin felis condimentum. Mauris porta, nulla quis malesuada sagittis, orci lectus luctus tellus, sit amet mollis arcu lectus id sapien. Pellentesque a dignissim ligula. Vestibulum eu semper nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nisl justo, fermentum eget dignissim at, fermentum ut nisl.
			</div>
			<div class="col-sm-6 col-md-6">
				Vestibulum sed metus sed tortor rutrum pharetra vel non erat. Aliquam vitae lectus sapien. Fusce volutpat pharetra enim, at mattis mauris porttitor pharetra. Morbi et dolor dapibus, consequat sem non, mollis risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus auctor eros id elit consectetur, ut sollicitudin felis condimentum. Mauris porta, nulla quis malesuada sagittis, orci lectus luctus tellus, sit amet mollis arcu lectus id sapien. Pellentesque a dignissim ligula. Vestibulum eu semper nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nisl justo, fermentum eget dignissim at, fermentum ut nisl.
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam felis nunc, finibus eu condimentum porttitor, vehicula vitae dui. Cras lacinia augue vel sem ultricies, vel tempor orci sagittis. Suspendisse mattis purus a auctor semper. In tincidunt tincidunt enim, vel aliquet est congue sed. Vestibulum eget lacus in ligula fringilla faucibus quis eu enim. Cras lacinia blandit est, vitae sollicitudin enim venenatis malesuada. Cras egestas eget nibh at volutpat. Ut at consequat urna. Ut pretium felis vitae molestie vestibulum.
			</div>
			<div class="col-sm-6 col-md-6">
				Vestibulum sed metus sed tortor rutrum pharetra vel non erat. Aliquam vitae lectus sapien. Fusce volutpat pharetra enim, at mattis mauris porttitor pharetra. Morbi et dolor dapibus, consequat sem non, mollis risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus auctor eros id elit consectetur, ut sollicitudin felis condimentum. Mauris porta, nulla quis malesuada sagittis, orci lectus luctus tellus, sit amet mollis arcu lectus id sapien. Pellentesque a dignissim ligula. Vestibulum eu semper nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi nisl justo, fermentum eget dignissim at, fermentum ut nisl.
			</div>
		</div>
	</div>
    </body>
</html>
