<!DOCTYPE html>
<html>
<body>
	{% include 'app/base.html' %}
	<h1 class="text-center"> {{ title }}</h1>
	<br>
	<div class="container text-center">
		<form class="form-inline" method='get' action="/app/instagramMediaByLocation/">
		  <div class="form-group">
		    <input type="text" name="address_field" class="form-control" placeholder="address">
		  </div>
		  <button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
	<div class="col-lg-12">
		<br>
		<p class="text-center">{{err_msg}}</p>
	</div>

	{% if geocode_result %}
	<div class="col-lg-12">
		<div class="table-responsive">
			<h4 class="text-center"> Latitude: {{geocode_result.lat}} </h3>
			<h4 class="text-center"> Longitude: {{geocode_result.lng}} </h3>

			<p class="text-center"> {{list_id}} </p>
			<table class="table">
				{% for list in media %}
					{% for user in list %}
						<a href="{{user.link}}" title="{{user.created_time}}"><img src="{{user.images.thumbnail.url}}"></a>
					{% endfor %}
				{% endfor %}

			</table>
		</div>
	</div>
	{% endif %}

</html>
