{% extends 'app/base.html' %}

{%block title%}Sasta{%endblock title%}

{% block template %}
  <div>
  	<div class="row">
      <div class="columns text-center" id="logo">
        <img src="../static/img/logo.png">
      </div>
  	</div>
  	<div class="row">
      <div class="columns">
        <form id="search-form" autocomplete="off">
          <div class="row search">
          	<div class="columns medium-8 medium-offset-2">
          		<input type="text" id="squery" placeholder="Search for the Product here .. " required autofocus>
            </div>
          	<div class="columns medium-2 pl0">
            	<button class="button" type="submit"><i class="fa fa-search"></i></button>
          	</div>
          </div>
        </form>
      </div>
  	</div>
    <div class="row mt4 loading-spinner hide">
      <div class="columns text-center">
        <i class="fa fa-5x fa-refresh fa-spin"></i>
      </div>
    </div>
    <div id="search-results" class="my4 hide">
      <div class="row mb2">
        <div class="columns medium-4 small-4 flipkart-logo text-center">
          <div class="logo-blk">
            <img src="https://upload.wikimedia.org/wikipedia/en/c/c9/Flipkart_logo.png"/>
          </div>
        </div>
        <div class="columns medium-4 small-4 amazon-logo text-center">
          <div class="logo-blk">
            <img src="http://g-ecx.images-amazon.com/images/G/31/Press_Releases/amazonIN_logo_thumb._CB383437931_.jpg"/>
          </div>
        </div>
        <div class="columns medium-4 small-4 snapdeal-logo text-center">
          <div class="logo-blk">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Snapdeal_Logo.png/220px-Snapdeal_Logo.png"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-4 small-4 flipkart-blk">
          <div class="load text-center mb2 hide">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
          </div>
          <div class="data-content">
          </div>
        </div>
        <div class="columns medium-4 small-4 amazon-blk">
          <div class="load text-center mb2 hide">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
          </div>
          <div class="data-content">
          </div>
        </div>
        <div class="columns medium-4 small-4 snapdeal-blk">
          <div class="load text-center mb2 hide">
            <i class="fa fa-2x fa-refresh fa-spin"></i>
          </div>
          <div class="data-content">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock template %}

{% block footer_scripts %}
<script src="/static/js/main.js"></script>
{% endblock footer_scripts %}
