<!DOCTYPE html>
<html>
<body>
	{% include 'app/base.html' %}
	<h1 class="text-center"> {{ title }}</h1>
	<br>
	<div class="col-lg-12">
		<div class="table-responsive">
			<h2> BLOGGER </h2>
			<table class="table table-bordered">
				<tr>
					<th>Name</th>
					<td>{{blogData.name}}</td>
				</tr>
				<tr>
					<th>Posts</th>
					<td>{{blogData.posts}}</td>
				</tr>
				<tr>
					<th>Blog title</th>
					<td>{{blogData.title}}</td>
				</tr>
				<tr>
					<th>Last updated</th>
					<td>{{blogData.updated}}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{blogData.description}}</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-4">
		<div class="table-responsive">
			<h2> #starbucks </h2>
			<table class="table table-bordered">
				{% for i in blogTag %}
				<tr>
					<td> {{i}} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-4">
		<div class="table-responsive">
			<h2> Comments </h2>
			<table class="table table-bordered">
				{% for i in blogontag %}
				<tr>
					<td> {{i}} </td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</html>
