<!DOCTYPE html>
<html>
<body>
    {% include 'app/base.html' %}
    <h1 class="text-center"> {{ title }}</h1>
    <br>

    <div class="container text-center">
        <form class="form-inline" method='get' action="/app/twitterTweets/">
          <div class="form-group">
            <input type="text" name="tweets" class="form-control" placeholder="Input tweet, e.g: mayfield">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
    <br>

    {% if content %}
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
                <thead>
                    <tr>
                    <th class="header"> Who <i class="icon-sort"></i></th>
                    <th class="header"> Tweet <i class="icon-sort"></i></th>
                    <th class="header"> Retweets <i class="icon-sort"></i></th>
                    <th class="header"> Created <i class="icon-sort"></i></th>

                    </tr>
                </thead>
                <tbody>
                {% for item in content %}
                    <tr>
                        <td>{{ item.user.screen_name }}</td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.retweet_count}}</td>
                        <td>{{ item.created_at}}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</body>
</html>
